<h2>My Credential Record</h2>
<h5>You currently have <%= @certs.count %> certifications.</h5><br>

<% @certs.each do |certification| %>
<h4><%= certification.cert_name %></h4>
  <ul>
    <li>Certification Number: <%= certification.cert_number %></li>
    <li>Expiration Date: <%= certification.exp_date %></li>
  </ul>
  <a href="/certs/<%= certification.id %>/edit"><button type="button" class="btn btn-primary">Edit Certification</button></a><br>
<% end %>
