<% if authorized?(@cert) %>

<div class="d-flex flex-row">
  <div class="p-2">
    <div class="card">
      <!-- <img class="card-img-top" src="/images/ACLS-ICON-SMALL-300x225.png" alt="Card image cap"> -->
      <div class="card-body">
        <h4 class="card-title"><%= @cert.cert_name %></h4>
        <p class="card-text">
          Certification Number: <%= @cert.cert_number %>
        </p>
        <p class="card-text">
          Expiration Date: <%= @cert.exp_date %>
        </p>
        <form action="/certs/<%= @cert.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input class="btn btn-primary btn-sm"   type="submit" value="Delete">
          <a href="/certs/<%= @cert.id %>/edit" class="btn btn-primary btn-sm">Edit</a>
        </form>
      </div>
    </div>
  </div>
</div>

<% end %>
