<h2 style="color:white;">Edit Profile:</h2>

<form action="/users/<%= @user.username %>" method="post">
  <input type="hidden" name="_method" value="patch">
    <div class="container">
      <div class="form-group">
        <label for="fullt_name">Full Name:</label>
        <input type="text" name="full_name" id="full_name" class="form-control" value="<%= @user.full_name %>">
      </div>
      <div class="form-group">
        <label for="provider_level">Provider Level:</label>
        <input type="text" name="provider_level" id="provider_level" class="form-control" value="<%= @user.provider_level %>">
      </div>
      <div class="form-group">
        <label for="current_agency">Current Agency:</label>
        <input type="text" name="current_agency" id="current_agency" class="form-control" value="<%= @user.current_agency %>">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" class="form-control" value="<%= @user.email %>">
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Edit Profile</button>
      </div>
    </div>
</form>
