<div class="d-flex justify-content-center">
  <div class="p-2">
    <h3 style="color:white;">Edit Profile</h3>
  </div>
</div>

<form action="/users/<%= @user.username %>" method="post">
  <input type="hidden" name="_method" value="patch">
    <div class="container">
      <div class="form-group">
        <label for="fullt_name" style="color:white;">Full Name:</label>
        <input type="text" name="full_name" id="full_name" class="form-control" value="<%= @user.full_name %>">
      </div>
      <div class="form-group">
        <label for="provider_level" style="color:white;">Provider Level:</label>
        <input type="text" name="provider_level" id="provider_level" class="form-control" value="<%= @user.provider_level %>">
      </div>
      <div class="form-group">
        <label for="current_agency" style="color:white;">Current Agency:</label>
        <input type="text" name="current_agency" id="current_agency" class="form-control" value="<%= @user.current_agency %>">
      </div>
      <div class="form-group">
        <label for="email" style="color:white;">Email:</label>
        <input type="text" name="email" id="email" class="form-control" value="<%= @user.email %>">
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Edit Profile</button>
      </div>
    </div>
</form>
